.footer {
    background: var(--hero-bg);
    padding: 60px 0;
  }
  
  .footer-wrap {
    @include flex(flex, baseline, null);
    gap: 93px;
  }
  
  .footer-logo {
    @include font(null, 26px, 1.19, 0.03em);
    display: block;
    font-family: var(--ff-raleway);
    color: var(--color-white);
    margin-bottom: 20px;
  }
  
  .footer-item-maps {
    color: var(--color-white);
  }
  
  .footer-item-maps,
  .footer-item-mail,
  .footer-item-tel {
    @include font(null, 14px, 1.71, 0.03em);
    font-style: normal;
    transition: color 250ms var(--cubic-bezier);
  }
  
  .footer-item-mail,
  .footer-item-tel {
    display: block;
    margin-top: 9px;
    color: var(--footer-item-link);
  }
  
  .footer-item-mail:hover,
  .footer-item-tel:hover,
  .footer-item-maps:hover {
    color: var(--current-active);
  }
  
  .footer-item-mail:focus,
  .footer-item-tel:focus,
  .footer-item-maps:focus {
    color: var(--current-active);
  }
  
  .footer-title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--color-white);
  }
  
  .icons-bg {
    background-color: var(--icons-bg);
  }

  .footer-link-text {
    margin-bottom: 20px;
  }
  
  .footer-form {
    @include flex(flex, null, null);
    margin-left: auto;
  }
  
  .footer-form-email {
    @include size(358px, 50px);
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid var(--footer-form-email);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-white);
    transition: border 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);  
    &:focus {
      border: 1px solid var(--current-active);
      outline: var(--current-active);
    }
    &:placeholder {
      @include font(null, 16px, 1.25, 0.03em);
      color: var(--footer-item-link);
    }
  }

    .footer-form-btn {
    @include flex(flex, center, center);
    @include size(200px, 50px);
    @include font(700, 16px, 1.88, 0.06em);
    color: var(--color-white);
    background-color: var(--current-active);
    box-shadow: 0px 4px 4px var(--footer-btn);
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    transition: background-color 250ms var(--cubic-bezier);
    &:hover,
    &:focus {
      background-color: var(--current-btn);
    }
  }
  
  .footer-form-img {
    margin-left: 10px;
  }
  