.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hero-bg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hero-center {
    text-align: center;
  }
  
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
  }
  
  .hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    color: var(--color-white);
    background-color: var(--current-active);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition: background-color 250ms var(--cubic-bezier);
      &:hover,
      &:focus {
        background-color: var(--current-btn);
      }
  }
  

  